{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %} {{ poll.title }}{% endblock title %}
{% block content %}
<main class="flex-shrink-0">
    <div class="container px-4 px-lg-5 my-3">
<section class="py-3">
    <div class="container-lg px-1">
        <div class="row gx-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center mt-3 mb-3">
             
                    <div class="ms-3">
                        <div class="fs-3 fw-bold">{{ poll.title }}</div>
                        <div class="text-muted fs-6"><small>{{ post.whenpublished }}</small></div>
                        <div class="text-muted mb-0">
                            <small>
                                Poll date: {{ poll.publish | naturalday | capfirst}} &nbsp;|&nbsp;
                                Updated: {{ poll.updated | naturalday | capfirst}}
                            </small> 
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <article>

                    <hr>
                    <section class="mb-3">
                        <p class="fs-5 mb-3">{{ poll.description | safe }}</p>
                        {% include 'polls/vote_form.html' %}
                    </section>
                </article>
<!-- vote form -->

<hr>
<br>
<!-- Results quick view -->
{% include 'includes/poll_result_snippet.html' %}
            </div>
        </div>
    </div>
</section>
    </div>
</main>


{% endblock content %}