{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Polls{% endblock title %}
{% block content %}
<div class="container-lg">
    <h2>| Polls</h2>

<div class="container">
    <div class="list-group w-auto">
        {% for poll in polls %}
        <a href="{% url 'polls:detail' poll.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="{{ poll.author.profile.avatar.url }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-2 fw-normal">{{poll.title}}</h6>

                </div>
                <small class="opacity-50 text-nowrap">{{poll.publish|naturalday|capfirst}}</small>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% include "includes/pagination.html" %}
{% endblock content %}