
APP_SECRET_KEY=[Your_App_Secret_Key]
ALLOWED_HOST_DEV=*,ipadd:port

DBNAME=[Your_Database_Name]
DBHOST=[Your_Database_HostName]
DBUSER=[Your_Database_Username]
DBPASS=[Your_Database_Password]

OPEN_API_KEY=[Your_OPENAI_KEY]