{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load page_utils %}
{% block title %}{% endblock title %}
{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-normal">{{ current_time|time_based_greeting }}</h1>
      <p class="lead text-body-secondary">Welcome to Hyperbeam - A collection of basic Django web applications for beginners is that provides a solid foundation for those who are starting their journey in web development using Django.</p>


      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://github.com/" class="btn btn-dark px-4 gap-3" target="_blank">Github</a>
        <a href="https://docs.djangoproject.com/en/4.2/" class="btn btn-success px-4 gap-3" target="_blank">Docs</a>
      </div>

    </div>
  </div>
</section>
  <div class="container px-3">
    
    <hr class="featurette-divider">
    <div class="row gx-5">
        <div class="col-lg-8 col-xl-6">
            <div class="text-start">
                <h2 class="fw-normal">Latest stories</h2>
            </div>
        </div>
    </div>
    <div class="album py-3">
      <div class="container px-3">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          {% for post in latest_posts %}
          <div class="col-md-4 mb-3">
            <div class="card h-100 shadow border-0">
              
              <img src="{{ post.image.url }}" alt="" width="600" height="300" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title mb-3 fw-normal text-dark">{{post.title}}</h4>
                <p class="text-dark">{{ post.content|safe|striptags|truncatechars:100}}</p>
                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{post.get_absolute_url}}" class="text-decoration-none stretched-link">
                      Read article
                    </a>
                     
                  </div>
                  <small class="text-muted">{{post.content|readtime}}</small>
                </div>
              </div>
            
            </div>
            
          </div>
          {% endfor %}
        </div>
        <div class="text-end mt-5 mb-5 mb-xl-0">
          <a class="text-decoration-none" href="{% url 'blog:post-list' %}">
              <p class="fw-bold">More stories
                <i class="bi bi-arrow-right-circle-fill"></i>
              </p>
              
          </a>
      </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="container px-3">
      <div class="row gx-5">
          <div class="col-lg-8 col-xl-6">
              <div class="text-start">
                  <h2 class="fw-normal">Polls & survey</h2>
              </div>
          </div>
      </div>
      <div class="album py-3">
        <div class="container px-3">
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">

            {% for poll in latest_polls %}
            
            <div class="col-md-4 mb-3">
              <div class="card h-100 shadow border-0">
                <div class="card-body">
                  <h4 class="card-title mb-3 fw-bold text-dark">{{poll.title}}</h4>
                  <p class="card-text">{{poll.description|safe|striptags|truncatechars:100}}</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'polls:detail' poll.id %}" class="text-decoration-none stretched-link">
                        Vote
                      </a>
                       
                    </div>
                    <small class="text-muted">{{ poll.publish | naturalday | capfirst }}</small>
                  </div>
                </div>
              
              </div>
              
            </div>
            {% endfor %}
          </div>
          <div class="text-end mt-5 mb-5 mb-xl-0">
            <a class="text-decoration-none" href="{% url 'polls:poll-list' %}">
                <p class="fw-bold">More topics
                <i class="bi bi-arrow-right-circle-fill"></i>
              </p>
            </a>
        </div>
        </div>
      </div>
      <hr class="featurette-divider">
{% endblock content %}