{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load page_utils %}
{% block title %}{% endblock title %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="fw-bolder">Django Hyperbeam</h1>
        <p class="lead mb-0">A collection of Django applications for your next web project.</p>
    </div>
  </div>
</header>


  <hr class="featurette-divider">

  <div class="container-fluid px-3">
    <div class="row gx-5">
        <div class="col-lg-8 col-xl-6">
            <div class="text-start">
                <h2 class="fw-bold">Latest stories</h2>
            </div>
        </div>
    </div>
    <div class="album py-3">
      <div class="container px-3">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          {% for post in latest_posts %}
          <div class="col-md-4 mb-3">
            <div class="card h-100 shadow border-0">
              
              <img src="{{ post.image.url }}" alt="" width="600" height="300" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title mb-3 fw-bold text-dark">{{post.title}}</h4>
                <p class="text-dark">{{ post.content|safe|striptags|truncatechars:100}}</p>
                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{post.get_absolute_url}}" class="text-decoration-none stretched-link">
                      Read article
                    </a>
                     
                  </div>
                  <small class="text-muted">{{post.content|readtime}}</small>
                </div>
              </div>
            
            </div>
            
          </div>
          {% endfor %}
        </div>
        <div class="text-end mt-5 mb-5 mb-xl-0">
          <a class="text-decoration-none" href="{% url 'blog:post-list' %}">
              More stories
              <i class="bi bi-arrow-right-circle-fill"></i>
          </a>
      </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="container px-3">
      <div class="row gx-5">
          <div class="col-lg-8 col-xl-6">
              <div class="text-start">
                  <h2 class="fw-bold">Polls</h2>
              </div>
          </div>
      </div>
      <div class="album py-3">
        <div class="container px-3">
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">

            {% for poll in latest_polls %}
            
            <div class="col-md-4 mb-3">
              <div class="card h-100 shadow border-0">
                <div class="card-body">
                  <h4 class="card-title mb-3 fw-bold text-dark">{{poll.title}}</h4>
                  <p class="card-text">{{poll.description|safe|striptags|truncatechars:100}}</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'polls:detail' poll.id %}" class="text-decoration-none stretched-link">
                        Vote
                      </a>
                       
                    </div>
                    <small class="text-muted">{{ poll.publish | naturalday | capfirst }}</small>
                  </div>
                </div>
              
              </div>
              
            </div>
            {% endfor %}
          </div>
          <div class="text-end mt-5 mb-5 mb-xl-0">
            <a class="text-decoration-none" href="{% url 'polls:poll-list' %}">
                <p class="fw-bold">More topics
                <i class="bi bi-arrow-right-circle-fill"></i>
              </p>
            </a>
        </div>
        </div>
      </div>
      <hr class="featurette-divider">
{% endblock content %}