{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}{% endblock title %}
{% block content %}
<section class="py-3">
    <div class="container-lg px-1">
        <div class="row gx-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center mt-3 mb-3">
             
                    <div class="ms-3">
                        <div class="fs-3 fw-bold">{{ post.title }}</div>
                        <div class="text-muted fs-6"><small>{{ post.whenpublished }}</small></div>
                        <div class="text-muted mb-0">
                            <small>
                                Published: {{ post.publish | naturalday | capfirst}} &nbsp;|&nbsp;
                                Updated: {{ post.updated | naturalday | capfirst}}
                            </small> 
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <article>

                    <hr>
                    <section class="mb-3">
                        <p class="fs-5 mb-3">{{ post.body | safe }}</p>
                    </section>
                </article>
                <hr>
              
                <br>
{% endblock content %}