{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Password Generator{% endblock title %}
{% block content %}

<div class="container-lg">

  <div class="py-3 text-start">
    <h2>Password Generator</h2>
    <p class="lead">Simple password generator. Range limit is from 8 to 64 characters.</p>

  </div>
  <!-- include sidebar -->
  <div class="col-md-7 col-lg-8">

    <div class="col-md-7 col-lg-8">

      <div class="input-group">


        <div class="input-group mb-3">


          <label class="input-group-text"><strong>Your password:</strong></label>
          {% if password %}
          <input type="text" value="{{password}}" id="copyTarget" class="form-control" placeholder="" aria-label=""
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" title="Copy to clipboad" id="copyButton"><i
              class="bi bi-clipboard-fill" aria-hidden="true"></i></button>
          {% endif %}
        </div>

      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Generate" button_type="submit" button_class="btn btn-primary" %}
      </form>
      
    </div>
  </div>
</div>
</div>
{% block javascripts %}
<script>
  (function () {
    "use strict";

    function copyToClipboard(elem) {
      var target = elem;

      // select the content
      var currentFocus = document.activeElement;

      target.focus();
      target.setSelectionRange(0, target.value.length);

      // copy the selection
      var succeed;

      try {
        succeed = document.execCommand("copy");
      } catch (e) {
        console.warn(e);

        succeed = false;
      }

      // Restore original focus
      if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
      }

      if (succeed) {
        $(".copied").animate({ top: -25, opacity: 0 }, 700, function () {
          $(this).css({ top: 0, opacity: 1 });
        });
      }

      return succeed;
    }

    $("#copyButton, #copyTarget").on("click", function () {
      copyToClipboard(document.getElementById("copyTarget"));
    });
  })();

</script>
{% endblock javascripts %}
{% endblock content %}