{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Profile{% endblock title %}
{% block content %}

{% for user in profile %}
<div class="card mb-3 border-0" style="max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if user.user.profile.avatar %}
        <img src="{{user.user.profile.avatar.url}}" class="img-fluid rounded-start" alt="...">
        {% else %}
        <img src="{% static 'assets/defaults/default_avatar.png' %}" class="img-fluid rounded-start" alt="...">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{user.user.first_name}} {{user.user.last_name}}
          </h5>
          <p class="card-text">{{user.bio|safe|linebreaks|truncatechars:75}}</p>
          <p class="card-text"><small class="text-muted">READ MORE FROM</small>
            <a href="{% url 'users:profile-page' user.user %}" class="text-decoration-none">
              {{user.user.first_name|upper}}
              <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock content %}