{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
<ul class="pagination justify-content-center mt-lg-3 py-5">
    {% if page.has_previous %}
        <li class="page-item">
         <a class="page-link" href="?page={{ page.previous_page_number }}">Back</a>
        </li>
    {% endif %}
    
    {% if page.has_next %}
     <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}">More</a>
     </li>
    {% endif %}
  </ul>
</div>
{% endblock content %}