{% block content %}
<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Other apps</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">ChatBOT</h6>
            <small class="text-body-secondary">ChatGPT</small>
          </div>
          <a href="{% url 'chat:chat' %}" class="text-decoration-none">
            <span class="text-body-primary">Go</span>
          </a>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Polls</h6>
              <small class="text-body-secondary">Polls</small>
            </div>
            <a href="{% url 'polls:poll-list' %}" class="text-decoration-none">
              <span class="text-body-primary">Go</span>
            </a>
          </li>
      </ul>
    </div>
    {% endblock content %}