{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load article_utils %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Blog{% endblock title %}
{% block content %}
<div class="album py-3">
    <div class="container">
        <h1>Blog</h1>

        {% if tag %}
        <p class="lead">Articles tagged with {{ tag.name }}</p>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
            {% for post in posts %}

            <div class="col-md-4 mb-3">
                <div class="card shadow border-0">
                    <div class="card h-100 border-0">

                        <img class="cbd-placeholder-img card-img-top" src="{{ post.image.url }}" width="600" height="300" alt="">

                    </div>

                    <div class="card-body">
                        <h4 class="card-title text-dark">{{ post.title }}</h4>

                        <div class="mb-3">
                            <p>
                                <span class="text-dark">{{ post.author.first_name }} {{ post.author.last_name}}</span>
                                <small class="text-muted"><i class="bi bi-dot"></i>{{ post.pub_date|time_ago }}</small>
                            </p>
                            <p class="card-text text-dark mb-3">
                                {{ post.content|safe|striptags|truncatechars:100 }}
                                <a href="{{post.get_absolute_url}}"
                                    class="text-decoration-none stretched-link">Read article</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</main>


{% include "includes/pagination.html" with page=posts %}
{% endblock content %}