{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load article_utils %}
{% block title %}{{ post.title }} {% endblock title %}
{% block content %}
<section class="py-3">
    <div class="container px-3 mb-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-3 mb-3">
                    {% if post.author.profile.avatar %}
                    <img class="rounded-circle" src="{{ post.author.profile.avatar.url }}" alt="" height="50"
                        width="50">
                    {% else %}
                    <img class="rounded-circle" src="{% static 'assets/defaults/default_avatar.png' %}" alt=""
                        height="50" width="50">
                    {% endif %}
                    <div class="ms-2">
                        <div class="fw-bold">
                            <a href="{% url 'users:profile-page' post.author %}"class="text-decoration-none link-dark">
                            {{ post.author.first_name }} {{post.author.last_name }}</a>
                        </div>
                        <div class="fs-6"><small>Author</small></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <article>
                    <header class="mb-3">
               
                        <span class="fs-3 fw-bold mb-0">{{ post.title }}</span>
                        <div class="fs-6 mb-2 mt-0">
                            <small>{{post.content|readtime}}</small>

                        </div>
                    </header>
                    <figure class="mb-3">
                        <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">

                    </figure>
                    <section class="mb-3">
                        <p class="fs-5">{{ post.content | safe }}</p>
                        <hr>

                        <div class="fs-6"><small><strong>Published:</strong>  {{post.publish|naturalday|capfirst}}<i class="bi bi-dot"></i>{{post.whenpublished}} </small></div>


                    </section>
   
                </article>

                <div>
                    <article>
                        {% include 'blog/post_tags.html' %}
                        {% include 'blog/comments.html' %}
                        {% include 'blog/similarpost.html' %}
                    </article>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}