{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load article_utils %}
{% block title %}Blog{% endblock title %}
{% block content %}
<section class="px-3">
    <div class="container-lg">
        <div class="row">
            <!-- Blog entries-->
          
            <div class="col-lg-8">
                {% for post in latest_posts %}
                <!-- Featured blog post-->
            
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="{{post.image.url}}" alt="" /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{post.whenpublished}}</div>
                        <h2 class="card-title">{{post.title}}</h2>
                        <p class="card-text">{{post.content|safe|striptags|truncatechars:100}}</p>
                        <a class="btn btn-primary" href="{{post.get_absolute_url}}">Read more →</a>
                    </div>
                </div>

      
                <!-- Nested row for non-featured blog posts-->

               {% endfor %}

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                
                        <form action="#" class="d-flex" method="get" role="search">
                            <div class="input-group">
                                <input class="form-control" type="text" name="q" placeholder="Search"
                                    aria-describedby="button-search" />
                                <span class="input-group-text"><i class="bi bi-search"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>
        </div>
    </div>

</section>
{% include "includes/pagination.html" with page=posts %}
{% endblock content %}