{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Contact us{% endblock title %}
{% block content %}
<section class="py-0">

        <div class="row">
            <!-- Blog entries-->
            <div class="container-lg">
            <div class="col-lg-12">

                    <!-- Contact form-->
                    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Help us improve</h1>
                            <p class="lead fw-normal mb-0">We'd love to hear from you</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form method="POST" id="contactForm" action="">
                                    {% csrf_token %}
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                  
                                        {{ contact_form.as_p }}
                                    </div>
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Contact cards-->
                    <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                        <div class="col">
                            <div class="feature-icon rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                            <div class="h5 mb-2 fw-bold">Chat with us</div>
                            <p class="mb-0">Chat live with one of our support specialists.</p>
                        </div>
                        <div class="col">
                            <div class="feature rounded-3 mb-3"><i class="bi bi-people"></i></div>
                            <div class="h5 fw-bold">Ask the community</div>
                            <p class="mb-0">Explore our community forums and communicate with other users.</p>
                        </div>
                        <div class="col">
                            <div class="feature rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
                            <div class="h5 fw-bold">Support center</div>
                            <p class="mb-0">Browse FAQ's and support articles to find solutions.</p>
                        </div>
                        <div class="col">
                            <div class="feature rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                            <div class="h5 fw-bold">Call us</div>
                            <p class="mb-0">Call us during normal business hours at (555) 892-9403.</p>
                        </div>
                    </div>
                </div>
            </section>
            
{% endblock content %}