{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Teams{% endblock title %}
{% block content %}
<section>
    <div class="container-lg px-3">
      <div class="row row-cols-1 row-cols-md-3 g-0 gx-1">
      {% for user in profiles %}
      <div class="col">
        <div class="card mb-3 border-0" style="max-width: 400px;">
          <div class="row row-cols-1 g-0">
            <div class="col-md-4">
              <img src="{{user.user.profile.avatar.url}}" class="card-img rounded-start" alt="...">

            </div>
            <div class="col-md-8">
              <div class="card-body">
              
                <h5 class="card-title text-dark fw-bold">
                  {{user.user.first_name}} {{user.user.last_name}}
                </h5>
                <span class="card-text text-dark">{{user.bio|safe|linebreaks|truncatechars:55}}</span>
                <p class="card-text"><small class="text-muted">MORE FROM</small>
                  <a href="{% url 'users:profile-page' user.user %}" class="text-decoration-none">
                    {{user.user.first_name|upper}}
                    <i class="bi bi-arrow-right-circle-fill"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

</section>
{% endblock content %}
