{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Blog{% endblock title %}
{% block content %}
<section>
    <div class="album py-0">
        <div class="container-lg">
            <div class="row col-lg-8">
                <div>
                    {% if tag %}
                    <p class="lead">Articles tagged with {{ tag.name }}</p>
                    {% endif %}
                </div>

                        {% for post in posts %}
                        <div class="col-lg-6 mb-3">
                            <div class="card h-100">
                                <div class="card h-100 border-0">
                               
                                    <img class="card-img-top" src="{{ post.image.url }}" height="300" alt="">

                                </div>

                                <div class="card-body">
                                    <h4 class="card-title fw-bold">{{ post.title }}</h4>
                            
                                <div class="mb-3">
                                    <p class="fw-bold">
                                        {{ post.author.first_name }} {{ post.author.last_name }}
                                        <small class="text-muted"> ~ {{ post.whenpublished }}</small>
                                    </p>
                                    <p class="card-text mb-3">
                                        {{ post.content|safe|striptags|truncatechars:100 }}</p>
                                        <a href="{{ post.get_absolute_url }}" class="text-decoration-none stretched-link">Continue</a>

                                </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "includes/pagination.html" with page=posts %}
{% endblock content %}