{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}{% endblock title %}
{% block content %}
<!-- <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style> -->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <hr class="featurette-divider">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container px-3">
    <div class="row gx-5">
        <div class="col-lg-8 col-xl-6">
            <div class="text-start">
                <h2 class="fw-bolder fs-5 mb-4">Latest stories</h2>
            </div>
        </div>
    </div>
 
    <div class="row gx-5">
      {% for post in latest_posts %}
      <div class="col-lg-4 mb-3">
        <div class="card h-100 shadow border-0">
        {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}" alt="" height="300" width="600">
        {% else %}
        <img class="card-img-top" src="#" alt=""
            height="300">
        {% endif %}
       
        <div class="card-body p-4">
          <a href="{{ post.get_absolute_url }}" class="text-decoration-none link-dark stretched-link">
            <h2 class="card-title mb-3 fw-bold">{{post.title}}</h2>
          </a>
        <p class="card-text mb-0">{{ post.content|safe|striptags|truncatechars:100}}</p>
      </div>
      <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
        <div class="d-flex align-items-end justify-content-between">
            <div class="d-flex align-items-center">
              {% if post.author.profile.avatar %}
                <img class="rounded-circle me-3" src="{{ post.author.profile.avatar.url }}" height="40" width="40" alt="..." />
                {% else %}
                <img class="rounded-circle me-3" src="{% static 'assets/defaults/default_avatar.png' %}" height="40" width="40" alt="..." />
                {% endif %}
                <div class="small">
                    <div class="fw-bold">{{ post.author.first_name }} {{ post.author.last_name }}</div>
                    <div class="text-muted">{{post.whenpublished}}</div>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div><!-- /.row -->
    {% endfor %}
    <div class="text-end mb-5 mb-xl-0">
      <a class="text-decoration-none" href="{% url 'blog:post-list' %}">
          More stories
          <i class="bi bi-arrow-right"></i>
      </a>
  </div>
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
    <hr class="featurette-divider">
    </div>
    </div>
  </div>

    
    <div class="album py-5">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for post in latest_posts %}
          <div class="col">
            <div class="card shadow-sm">
              
              <img src="{{ post.image.url }}" alt="" width="600" height="300" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title mb-3 fw-bold">{{post.title}}</h4>
                <p class="card-text">{{ post.content|safe|striptags|truncatechars:100}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{post.get_absolute_url}}" class="btn btn-sm btn-outline-primary">
                      Continue
                    </a>
                     
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            
            </div>
            
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}